.flash-instance {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &.flash-bottom {
    top: auto;
    bottom: 0;
  }

  &.flash-module {
    position: absolute;
  }
}

.flash {
  position: relative;
  padding: 10px;
  margin-bottom: 1px;
  font-size: 1.2rem;
  color: #fff;

  @include flash-color('success');
  @include flash-color('info');
  @include flash-color('warning');
  @include flash-color('error');
}
.flash-close {
  -webkit-appearance: none;
  position: relative;
  top: -2px;
  float: right;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;

  &:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}
